include README.md
include LICENSE
include pyproject.toml
recursive-include docs *.md

recursive-include illiad *.py
recursive-include fastplotlib_tests *.py *.args

include runBoris.py
include runFieldsolver.py
include runFluxCalc.py
include runFluxGrad.py
include runSOLTrace.py
include runSOLDensity.py
include runSOLPotential.py
include runPoincare.py

include input_files/*.csv
include input_files/*.example.json
include input_files/coils.wega_with_VFCoils

prune output
prune __pycache__
prune .git
prune .vscode
prune misc_scripts
prune input_files/RLP_Results
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude input_files *.npy *.npz *.h5 *.hdf5 *.txt *.pdf *.png *.jpg *.jpeg
global-exclude *.o4* *.e4* *.sbatch *.log *.mp4 *.avi *.mov *.gif *.xlsx *.pdf
